<p class="description">
  This is a simple real-time chat app where users can join a room with a username and exchange messages using
  WebSockets.
</p>

@if (!joined){
<div class="join-form">
  <h2>Join Chat Room</h2>
  <input [(ngModel)]="username" placeholder="Enter your username" />
  <input [(ngModel)]="room" placeholder="Enter room name" (keydown.enter)="joinRoom()" />
  <button (click)="joinRoom()">Join</button>
</div>
} @else if(joined) {
<div class="chat-container">
  <div class="chat-header">
    <h3>Room: {{ room }}</h3>
    <span>User: {{ username }}</span>
  </div>

  <!-- SIDEBAR - User List -->
  @if(false){
  <div class="sidebar">
    <h4>Users in Room</h4>
    <ul>
      @for (user of roomUsers; track user.username) {
      <li>
        <span class="dot online"></span> {{ user.username }}
      </li>
      }
    </ul>
  </div>
  }

  <div class="messages" id="messages">
    @for (m of messages; track m) {
    <div [ngClass]="{'message': true, 'outgoing': m.user === username, 'incoming': m.user !== username}">
      <div class="message-bubble">
        @if(m.user !== username){
        <strong>{{ m.user }}</strong>
        }
        <p>{{ m.text }}</p>
      </div>
    </div>
    }
  </div>

  @if(typingUser && typingUser !== username) {
  <div class="typing-indicator">
    {{ typingUser }} is typing
    <span class="dot"></span><span class="dot"></span><span class="dot"></span>
  </div>
  }


  <div class="chat-input">
    <input [(ngModel)]="message" placeholder="Type a message..." (keydown.enter)="sendMessage()"
      (keydown)="onTyping()" />
    <button (click)="sendMessage()" [disabled]="!message.trim()">Send</button>
  </div>
</div>
}