<p class="description">
  This is a simple real-time chat app where users can join a room with a username and exchange messages using
  WebSockets.
</p>

<div *ngIf="!joined" class="join-form">
  <h2>Join Chat Room</h2>
  <input [(ngModel)]="username" placeholder="Enter your username" />
  <input [(ngModel)]="room" placeholder="Enter room name" (keydown.enter)="joinRoom()" />
  <button (click)="joinRoom()">Join</button>
</div>

<div *ngIf="joined" class="chat-container">
  <div class="chat-header">
    <h3>Room: {{ room }}</h3>
    <span>User: {{ username }}</span>
  </div>

  <!-- SIDEBAR - User List -->
  <div class="sidebar" *ngIf="false">
    <h4>Users in Room</h4>
    <ul>
      <li *ngFor="let user of roomUsers">
        <span class="dot online"></span> {{ user.username }}
      </li>
    </ul>
  </div>

  <div class="messages" id="messages">
    <div *ngFor="let m of messages"
      [ngClass]="{'message': true, 'outgoing': m.user === username, 'incoming': m.user !== username}">
      <div class="message-bubble">
        <strong *ngIf="m.user !== username">{{ m.user }}</strong>
        <p>{{ m.text }}</p>
      </div>
    </div>
  </div>

  <div class="typing-indicator" *ngIf="typingUser && typingUser !== username">
    {{ typingUser }} is typing
      <span class="dot"></span><span class="dot"></span><span class="dot"></span>
  </div>


  <div class="chat-input">
    <input [(ngModel)]="message" placeholder="Type a message..." 
    (keydown.enter)="sendMessage()" (keydown)="onTyping()"/>
    <button (click)="sendMessage()" [disabled]="!message.trim()">Send</button>
  </div>
</div>